<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="text-center">
                <h1>Weather Site API</h1>
            </div>
            <p>
                This is a weather API server provided by 91d906h4 and SEAL. This server is powered by Flask.
            </p>
        </div>
    </body>
</html>